<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container2">
        

        
        <div id="two">
            <img src="../../assets/images/kore_1596025947461.png" height="100px" width="30%" alt="">
            <img src="../../assets/images/medicine.jpg" style="border-radius:12rem;height: 300px;width: 60%; float: right;padding-top: 30px;">
            <div class="write2">
                Simplify IOT<br>
                <div style="color:black;">
            -------------------------------------
            </div>
            <div class="font2">
            We explore and consider ideas from every source enabling us to deliver insights leading to new ,better outcomes in iot
               </div>
        </div>
        <button (click)="btnclick()">click here</button>
    </div>
     
</div>
</body>
</html>